/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import "~@ng-select/ng-select/themes/default.theme.css";



/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

body {
  margin: 20px;
  background-color: #e7e7e7;
  font-family: sans-serif;
}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
